body{

	background-color: #f0f0f0;

}
.cont{
	width:1000px;
	background-color:#fff;
	margin: 0 auto;
	padding: 20px;
	overflow: auto;

}
.panel{
	min-height: 100px;
	color: #fff;
	float: left;
	line-height: 5em;
}

.one{

	background-color: red;
	width: 480px;
	margin: 10px;

}

.two{

	background-color: violet;
	width: 480px;
	margin: 10px;

}
.three{

	background-color: green;
	width: 1000px;
	
}
.four{
	background-color: purple;
	width: 250px;

}
.five{
	background-color: lightgreen;
	width: 250px;
}
.six{
background-color:pink; 
width:250PX;
}
.seven{
	background-color:gray; 
	width:250PX;
}
.eight{
	background-color: orange;
	width:33.33%;

}
.nine{
background-color:lightgrey; 
width:33.33%;	
}
.ten{
	background-color: yellow;
	width:33.33%;
}



	

	