body{ 

	background-color: #ccc;
	font-family: arial;
 }

.content{
	width:500px;
	margin: 40px auto;
}

.content table{
	width: 100%;
	background-color: #fff;
	text-align: left;
	border: 1px solid #fff;
	border-collapse: collapse;
}

.content table tr{
	border-bottom:1px solid #aaa;
}

.content table tr:last-child{
border-right: none;

}
.content table tr td{
	padding: 10px;
	border-right: 1px solid #aaa;
}

.content table tr td{
	border-right: none;
}

.content table tr  th{
	padding: 10px;
	background: pink;
	color: #fff;

}

.content table tr:nth-child(even){
	background: violet;
}
